# Ignore all ...
/*

# ... but track specific files / folders: 
!/.gitignore
!/README.md
!/LICENSE
!/screenshot.png

# Plugin
!/wp-content
/wp-content/*
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/ddev-pull-wp-helper
